<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Amazon Clone</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Your Shopping Cart</h1>
    
    <div id="cart-items"></div>
    
    <div id="cart-summary">
        <p>Total: $<span id="total-price">0.00</span></p>
        <button id="checkout-button">Proceed to Checkout</button>
    </div>

    <footer>
        <img src="/static/assets/amazon_logo.png" width="100" alt="Amazon Logo">
        <p>© 1996-2022, Amazon.com, Inc. or its affiliates & <br>Created by<br> <span>SALIHA BRIK</span></p>
    </footer>

    <script src="/static/js/cart.js"></script>
</body>
</html>
